*, *:before, *:after {
  box-sizing: border-box;
}

.wheel_block{
  margin-right: 0;
}

.bc_image{
	text-align: center;
	position: relative;
	z-index: 1;
}

.yakubgachi{
  left: 10%;
  top: 20%;
  position: absolute;
	z-index: 4;
}

.wheel_frame{
  pointer-events: none;
	text-align: center;
	position: absolute;
  /* width: 680px; */
  left: 32%;
  top: 10%;
  z-index: 3;
}

.description{
  font-family: NewRocker;
  pointer-events: none;
	text-align: center;
  font-size: 24;
  color: white;
	position: absolute;
  left: 65%;
  top: 35%;
  width: 25%;
	z-index: 999;
  text-shadow:0px 1px 0 rgb(0,0,0),0px -1px 0 rgb(0,0,0),1px 0px 0 rgb(0,0,0),-1px 0px 0 rgb(0,0,0),1px 1px 0 rgb(0,0,0),1px -1px 0 rgb(0,0,0),-1px 1px 0 rgb(0,0,0),-1px -1px 0 rgb(0,0,0);
}

#descriptionName{
  font-size: 32;
  font-weight: bold;
}

div.wheel_button input {
    background:url(src/knopkaKrutit1.png) no-repeat;
    cursor:pointer;
    width: 180px;
    height: 70px;
    border: none;
    text-align: center;
    position: absolute;
    left: 45.4%;
    top: 74%;
    z-index: 3;
}

.wheel {
	position: absolute;
	text-align: center;
  perspective: 1000px;
  /* border: 1px solid #333; */
  margin: 0 auto;
  left: 43.7%;
  top: 28%;
	/* height: 0%; */
	z-index: 2;
}
.wheel__inner {
  /* background-color: red; */
  /* transform: rotateX(25.7143deg); */
  width: 250px;
  height: 450px;
  margin: 0 auto ;
  transform-style: preserve-3d;
  /* animation-iteration-count: infinite; */
  /* animation-timing-function: linear; */
  /* animation-name: spin; */
  /* animation-duration: 4s; */
}
.wheel .wheel__inner .wheel__segment {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  position: absolute;
  top: 50%;
  background-image: url(src/assets/wheel_img/debuff1.png);
  /* background-color: #903536; */
      /* color: #ffffff; */
}
/* .wheel .wheel__inner .wheel__segment:nth-child(even) {
  background-color: #972c2c;
} */

.wheelAnimation {
  animation: 9s ease-in 1 reverse spinWheel;
}

@-webkit-keyframes spinWheel {
  /* from {transform: rotateX(0deg);} */
  to {transform: rotateX(3600deg);}
}

@font-face {
    font-family: NewRocker; /* Имя шрифта */
    src: url(src/fonts/NewRocker_Regular.ttf); /* Путь к файлу со шрифтом */
   }
