*, *:before, *:after {
  box-sizing: border-box;
}

.bc_image{
	text-align: center;
	position: relative;
	z-index: 2;
}

.wheel {
	position: relative;
	text-align: center;
  perspective: 1000px;
  border: 1px solid #333;
  margin: 0 auto;
	width: 10%;
	top: -69%;
	height: 0%;
	vertical-align: middle;
	z-index: 1;
}
.wheel .wheel__inner {
  /* background-color: red; */
  /* position: relative; */
  width: 200px;
  height: 350px;
  margin: 0 auto ;
  transform-style: preserve-3d;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 6s;
}
.wheel .wheel__inner .wheel__segment {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  position: absolute;
  top: 50%;
  background-color: #5a8d22;
      color: #ffffff;
}
.wheel .wheel__inner .wheel__segment:nth-child(even) {
  background-color: #972c2c;
}

@-webkit-keyframes spin {
  0% {
    transform: rotateX(360deg);
  }
  50% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
