body{
  background-color: green;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.wheel_block{
  margin-right: 0;
}

.wheel_frame{
  pointer-events: none;
	position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 627px;
  z-index: 3;
}

.description{
  font-family: floydc;
  pointer-events: none;
	text-align: center;
  font-size: 26;
  color: white;
	position: absolute;
  top: 420px;
  left: 50%;
  transform: translateX(-50%);
  text-shadow:0px 1px 0 rgb(0,0,0),0px -1px 0 rgb(0,0,0),1px 0px 0 rgb(0,0,0),-1px 0px 0 rgb(0,0,0),1px 1px 0 rgb(0,0,0),1px -1px 0 rgb(0,0,0),-1px 1px 0 rgb(0,0,0),-1px -1px 0 rgb(0,0,0);
}

#descriptionName{
  font-family: floydc;
  font-size: 34;
  font-weight: bold;
}

div.wheel_button input {
    background:url(../src/knopkaHorror.png) no-repeat;
    cursor:pointer;
    width: 180px;
    height: 70px;
    border: none;
    text-align: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 80%;
    z-index: 3;
}

.wheel {
  display: block;
	position: fixed;
  perspective: 1000px;
  left: 50%;
  top: 72%;
  transform: translateY(-50%);
	z-index: 2;
}
.wheel__inner {
  height: 600px;
  margin: 0 auto ;
  transform-style: preserve-3d;
}
.wheel .wheel__inner .wheel__segment {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  position: absolute;
  top: 50%;
  background-image: url(../src/assets/wheel_img/debuff1.png);
}

.wheelAnimation {
  animation: 9s ease-in 1 reverse spinWheel;
}

@-webkit-keyframes spinWheel {
  to {transform: rotateY(3600deg);}
}

@font-face {
    font-family: floydc;
    src: url(../src/fonts/floydc.ttf);
}
